$('#new-comment-view').remove();
<% if @comment.commentable_type == 'Question' %>
  $('#question-comment-list').append('<%= j render "comments/comment", object: @comment %>');
<% else %>
  $('#answer-comment-list-<%= @comment.commentable_id %>').append('<%= j render "comments/comment", object: @comment %>');
<% end %>
$('#ajax-flash').empty().append("<div class='alert-box success'>Comment successfully added!</div>").fadeOut(5000);